<table class="ngsjsst-salats ngsjsst-daily">
  <tr><th class="<?js= classes.fajr    ?>"><?js= titles.fajr    ?></th><td class="ngsjsst-time <?js= classes.fajr    ?>"><?js= displayTimes.fajr ?></td></tr>
  <tr><th class="<?js= classes.churuk  ?>"><?js= titles.churuk  ?></th><td class="ngsjsst-time <?js= classes.churuk  ?> ngsjsst-odd"><?js= displayTimes.churuk ?></td></tr>
  <tr><th class="<?js= classes.dhuhr   ?>"><?js= titles.dhuhr   ?></th><td class="ngsjsst-time <?js= classes.dhuhr   ?>"><?js= displayTimes.dhuhr ?></td></tr>
  <tr><th class="<?js= classes.asr     ?>"><?js= titles.asr     ?></th><td class="ngsjsst-time <?js= classes.asr     ?> ngsjsst-odd"><?js= displayTimes.asr ?></td></tr>
  <tr><th class="<?js= classes.maghrib ?>"><?js= titles.maghrib ?></th><td class="ngsjsst-time <?js= classes.maghrib ?>"><?js= displayTimes.maghrib ?></td></tr>
  <tr><th class="<?js= classes.isha    ?>"><?js= titles.isha    ?></th><td class="ngsjsst-time <?js= classes.isha    ?> ngsjsst-odd"><?js= displayTimes.isha ?></td></tr>
  <tfooter>
  <tr>
    <th class="ngsjsst-day ngsjsst-hijri"><?js= displayTimes.hijriDate ?></th>
    <th class="ngsjsst-day ngsjsst-gregorian"><?js= displayTimes.gregorianDate ?></th>
  </tr>
  </tfooter>
</table>